// Fonts define
$font-emoji = "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-sans-latin = "Open Sans";
$font-sans-chinese = "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei";
$font-sans-fallback = "Arial", sans-serif;
$font-family-sans = $font-sans-latin, $font-sans-chinese, $font-sans-fallback;

$font-serif-latin = "Merriweather", "Times New Roman";
$font-family-serif = $font-serif-latin, serif;

$font-family-mono = Monaco, Consolas, 'Lucida Console', monospace;

$font-size-base-s = 87.5%; /* 14px */
$font-size-base-m = 100%; /* 16px */
$font-size-base-l = 112.5%; /* 18px */

 // Rem baseline is large-size (112.5%)
$font-size-h1 = 1.7778rem;
$font-size-h2 = 1.3333rem;
$font-size-h3 = 1.1111rem;
$font-size-h4 = 1rem;
$font-size-h5 = .8889rem;
$font-size-h6 = .8889rem;

$font-size-code = .875rem;
$font-size-small = .8rem;
$font-size-footnotes = .7778rem;
$font-size-sub-sup = .725rem;

$font-weight-bold = 600;

$line-height-base = 1.7778;
$line-height-code = 1.5;

// Spacing
$gap-s = .4444rem;
$gap-m = .8889rem;
$gap-l = 1.7778rem;
$gap-xl = 3.5556rem;

// Colors Group: Normal (Day mode)
//$background = #fbf7f0;
$background = #ffffff;

$primary-color = #3d464d; /* dark gray */
$secondary-color = #9ea3a6; /* light gray */
$tertiary-color = #d0d2d4; /* lighter gray */

// Colors Group: Invert (Night mode)
$background-invert = #1d1f21;

$primary-color-invert = #999a9b; /* dark gray invert */
$secondary-color-invert = #727375; /* light gray invert */
$tertiary-color-invert = #393b3f; /* lighter gray invert */

$highlight-color = #009688;

// Content wrap max width
$content-wrap-wdith = 40rem;
