@import 'normalize.css'

@import 'components/_variables'
@import 'components/_icons'
@import 'components/_fonts'
@import 'components/_base'
@import 'components/_header'
@import 'components/_sidebar'

@import 'components/_index'
@import 'components/_content'
@import 'components/_footer'